.songs {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.songs li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(212, 169, 169);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.songs li:hover {
    color: #2c3a41;
    background-color: #e0dcdc;
    left: .1em;
  }

.songs li.selected {
background-color: rgb(216, 170, 45);
color: white;
}
.songs li.selected:hover {
background-color: #cdd88f;
color: white;
}
.songs li.selected:active {
background-color: black;
color: white;
}
.songs .badge {
display: inline-block;
font-size: small;
color: white;
padding: 0.8em 0.7em 0 0.7em;
background-color:#e4aed8;
line-height: 1em;
position: relative;
left: -1px;
top: -4px;
height: 1.8em;
margin-right: .8em;
border-radius: 4px 0 0 4px;
}

input {
padding: .5rem;
}
  